{% extends "base_generic.html" %}

{% block title %}
    <title>PainlessPass - Folder_Entry</title>
{% endblock %}

{% block content_header %}
{% include "base_folder-pass.html" %}
{% endblock %}

{% block content %}
    <!-- New Folder Form -->
    <div class="d-flex justify-content-center align-items-center mt-5">
        <div class="border border-4 rounded-3 border-secondary px-5 pt-3 pb-5">
            <!-- The back button -->
            <a class="body-back-button" href="/painlesspass/folder_list">
                <i class="bi-arrow-left h3 text-secondary" title="Return to folder list"></i>
            </a>
            <!-- Title and Errors -->
            <div id="login-header" class="text-center mt-2 mb-4">
                <h1>New Folder</h1>
            </div>
            {% if folder_form.errors.name %}
                <div class="text-center alert alert-danger p-1">
                {% for field in folder_form.errors.name %}
                    {{ field }}
                {% endfor %}
                </div>
            {% endif %}
            <!-- The actual form -->
            <form method="POST">
                {% csrf_token %}
                    <div class="mb-4">
                        <p class="mb-0">Name:</p>
                        {{ folder_form.name }}
                    </div>
                <button type="submit" class="btn btn-secondary w-100 form-button">Create</button>
            </form>
        </div>
    </div>
{% endblock %}