{% extends "base_generic.html" %}

{% block title %}
    <title>PainlessPass - Folder_Entry</title>
{% endblock %}

{% block content_header %}
{% include "base_folder-pass.html" %}
{% endblock %}

{% block content %}
    <h2>Folder Entry</h2>
    <a class="body-back-button" href="/painlesspass/folder_list">Back</a>
    <ul>
        <li>Folder Name: {{ userfolder_entry.name }}</li>
        <li>Date Created: {{ userfolder_entry.created_at }}</li>
        <li>Date Modified: {{ userfolder_entry.modified_at }}</li>
    </ul>
{% endblock %}