{% extends "base_generic.html" %}

{% block title %}
    <title>PainlessPass - Folder_Entry</title>
{% endblock %}

{% block content_header %}
{% include "base_folder-pass.html" %}
{% endblock %}

{% block content %}
    <h2>Enter New Folder Name</h2>
    <a class="body-back-button" href="/painlesspass/folder_list">Back</a>
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ folder_form.as_p }}
            <button type="submit" class="form-button">Create</button>
        </form>
    </div>
{% endblock %}