{% extends "base_generic.html" %}

{% block title %}
    <title>PainlessPass - Home</title>
{% endblock %}

{% block header %}
    <header>
        <ul class="top-nav-bar">
            <li class="top-nav-bar" id="nav-bar-title">PainlessPass</li>
            <li class="top-nav-bar"><a href="/painlesspass/register">Register</a></li>
            <li class="top-nav-bar"><a href="/accounts/login">Log In</a></li>
        </ul>
    </header>
{% endblock %}

{% block content %}
    <p>PainlessPass Home</p>
{% endblock %}