{% extends "base_generic.html" %}
{% load tz %}


{% block title %}
    <title>PainlessPass - Pass_Entry</title>
{% endblock %}

{% block content_header %}
{% include "base_folder-pass.html" %}
{% endblock %}

{% block content %}
    <!-- Password Form -->
    <div class="d-flex justify-content-center align-items-center mt-5 pb-4 overflow-hidden">
        <div class="border border-4 rounded-3 border-secondary m-5 px-5 pt-3 pb-5 overflow-hidden"
             style="max-width: 40%">

            <!-- The back button -->
            <a class="body-back-button" href="/painlesspass/pass_list">
                <i class="bi-arrow-left h3 text-secondary" title="Return to password list"></i>
            </a>
            <a href="/painlesspass/pass_delete/{{ userpass_entry.pk }}" class="confirm-delete float-end h5 pt-1"
                                                                                                title="Delete">
                <i class="bi-trash3-fill" style="color: crimson;"></i>
            </a>

            <!-- Title and errors -->
            <div id="login-header" class="text-center mb-4">
            <h1 style="overflow: hidden; text-overflow: ellipsis;">{{ userpass_entry.name }}</h1>
            </div>
            {% if userpass_form.errors.name %}
                <div class="text-center alert alert-danger p-3">
                {% for field in userpass_form.errors.name %}
                    {{ field }}
                {% endfor %}
                </div>

            <!-- Successfully updated message -->
            {% elif entry_updated == True %}
                <div class="text-center alert alert-success pb-0">
                    <p>Password updated successfully.</p>
                </div>
            {% endif %}

            <!-- The actual form -->
            <form method="POST">
                {% csrf_token %}
                    <div class="mb-4">
                        <p class="mb-0">Name:</p>
                        {{ userpass_form.name }}
                    </div>
                    <div class="mb-4">
                        <p class="mb-0">Username:</p>
                        {{ userpass_form.username }}
                    </div>
                    <div class="mb-4">
                        <p class="mb-0">Password:
                            <i role="button" class="bi bi-eye-slash-fill float-end ps-1" id="pass-toggle"
                               title="Toggle password visibility"></i>
                            <i role="button" class="bi bi-arrow-repeat float-end px-1" id="pass-gen"
                               title="Generate password"></i>
                        </p>
                        {{ userpass_form.password }}
                    </div>
                    <div class="mb-4">
                        <p class="mb-0">URI:</p>
                        {{ userpass_form.uri }}
                    </div>
                    <div class="mb-4">
                        <p class="mb-0">Folder:</p>
                        {{ userpass_form.folder }}
                    </div>
                    <div class="mb-4">
                        <p class="mb-0">Note:</p>
                        {{ userpass_form.note }}
                    </div>
                        <ul class="text-center list-group mb-4">
                            <li class="list-group-item">Date Created: {{ userpass_entry.created_at }}</li>
                            <li class="list-group-item">Date Modified: {{ userpass_entry.modified_at }}</li>
                        </ul>
                <button type="submit" class="btn btn-secondary w-100 form-button confirm-edit">Edit</button>
            </form>
        </div>
    </div>
{% endblock %}