{% extends "base_generic.html" %}

{% block title %}
    <title>PainlessPass - Pass_List</title>
{% endblock %}

{% block content_header %}
{% include "base_folder-pass.html" %}
{% endblock %}

{% block content %}
<h2>PainlessPass Pass_List</h2>
{% for folder in folder_list %}
<h4>{{ folder }}</h4>
<ul class="user-pass-ulist">
{% for userpass in userpass_list %}
    {% if folder.pk == userpass.folder.pk  %}
    <li><a class="user-pass-list" href="/painlesspass/pass_entry/{{ userpass.pk }}">{{ userpass }}</a></li>
    {% endif %}
{% endfor %}
</ul>
{% endfor %}
{% endblock %}