{% extends "base_generic.html" %}

{% block title %}
    <title>PainlessPass - Pass_List</title>
{% endblock %}

{% block content_header %}
{% include "base_folder-pass.html" %}
{% endblock %}

{% block content %}
<div class="main-pass-list"> <!-- div to hold all password objects -->

    <!-- Div for table header that links to the new password form, search, filter -->
    <div class="mx-5 mt-5 mb-3 pb-2 border-bottom border-3">
        <h2 class="d-inline">Passwords</h2>

        <!-- Button for adding new passwords -->
        <a href="/painlesspass/pass_new/" class="btn btn-secondary d-inline float-end">+ Add Item</a>

        <!-- Search bar for additional filtering! -->
        <label for="searchFilter"></label>
        <input id="passSearch" class="float-end me-5 mt-2 h-50" type="text" id="searchFilter" placeholder="Search...">

        <!-- Folder filter dropdown selection -->
        <div class="float-end me-5 mt-2">
            <label for="folderChoice" class="">Folder: </label>
            <select id="folderChoice" class="">
              <option value="">All</option>
            {% for folder in userfolder_list %}
              <option value="{{ folder }}">{{ folder }}</option>
            {% endfor %}
            </select>
        </div>

    </div>

    <!-- Check if the user has any passwords - prompt for creation if they don't -->
    {% if userpass_list.count == 0 %}
        <div class="mt-5 text-center">
            <i class="bi-wind h1"></i>
            <p class="mt-3">You have no passwords.</p>
            <!-- Button for adding new passwords -->
            <a href="/painlesspass/pass_new/" class="btn btn-secondary d-inline">Create Password</a>
        </div>

    {% else %}
    <!-- Make a table with all passwords! -->
    <!-- The div to hold the table that contains all user passwords. Hopefully can use JS to sort this later. -->
    <div class="table-responsive mx-5">
        <table id="passTable" class="table table-striped table-bordered table-hover">
            <thead class="thead-light">
                <!-- Table column header -->
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Username</th>
                    <th scope="col" style="max-width: 100px;">Encrypted Password</th>
                    <th scope="col">URI</th>
                    <th scope="col">Folder</th>
                    <th scope="col">Note</th>
                    <th scope="col" class="text-center" style="max-width: 35px">Action</th>
                </tr>
            </thead>

            <tbody>
            <!-- Add passwords to the table -->
            {% for userpass in userpass_list %}
                <tr>
                    <td><a href="/painlesspass/pass_entry/{{ userpass.pk }}">{{ userpass.name }}</a></td>
                    <td>{{ userpass.username }}</td>
                    <!-- Made this one to have a scrollbar to show full encrypted password. -->
                    <td class="td-horizontal-scroll">{{ userpass.password }}</td>
                    <td>{{ userpass.uri }}</td>
                    <td>{{ userpass.folder }}</td>
                    <td>{{ userpass.note }}</td>
                    <td class="text-center" style="max-width: 35px">
                        <!-- Icons for editing and deleting items -->
                        <ul class="d-flex justify-content-center p-0">
                            <!-- Edit button -->
                            <li class="d-inline-block pe-3">
                                <a href="/painlesspass/pass_entry/{{ userpass.pk }}" title="Edit">
                                    <i class="bi-pencil-square"></i>
                                </a>
                            </li>
                            <!-- Delete button with confirmation -->
                            <li class="d-inline-block">
                                <a href="/painlesspass/pass_delete/{{ userpass.pk }}" class="confirm-delete" title="Delete">
                                    <i class="bi-trash3-fill" style="color: crimson;"></i>
                                </a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
{% endblock %}