{% extends "base_generic.html" %}

{% block title %}
    <title>PainlessPass - Pass_Entry</title>
{% endblock %}

{% block content_header %}
{% include "base_folder-pass.html" %}
{% endblock %}

{% block content %}
    <!-- New Password Form -->
    <div class="d-flex justify-content-center align-items-center mt-5">
        <div class="border border-4 rounded-3 border-secondary px-5 pt-3 pb-5">
            <!-- The back button -->
            <a class="body-back-button" href="/painlesspass/pass_list">
                <i class="bi-arrow-left h3 text-secondary" title="Return to password list"></i>
            </a>
            <!-- Title -->
            <div id="login-header" class="text-center mt-2 mb-4">
                <h1>New Password</h1>
            </div>
            {% if password_form.errors.name %}
                <div class="text-center alert alert-danger p-1">
                    {{ password_form.errors }}
                </div>
            {% endif %}
            <!-- The actual form, made BEAUTIFUL by bootstrap -->
            <form method="POST">
                {% csrf_token %}
                    <div class="mb-4">
                        <p class="mb-0">Name:</p>
                        {{ password_form.name }}
                    </div>
                    <div class="mb-4">
                        <p class="mb-0">Username:</p>
                        {{ password_form.username }}
                    </div>
                    <div class="mb-4">
                        <p class="mb-0">Password:
                            <i role="button" class="bi bi-eye-slash-fill float-end" id="pass-toggle"></i>
                        </p>
                        {{ password_form.password }}
                    </div>
                    <div class="mb-4">
                        <p class="mb-0">URI:</p>
                        {{ password_form.uri }}
                    </div>
                    <div class="mb-4">
                        <p class="mb-0">Folder:</p>
                        {{ password_form.folder }}
                    </div>
                    <div class="mb-4">
                        <p class="mb-0">Note:</p>
                        {{ password_form.note }}
                    </div>
                <button type="submit" class="btn btn-secondary w-100 form-button">Create</button>
            </form>
        </div>
    </div>
{% endblock %}