{% extends "base_generic.html" %}

{% block title %}
    <title>PainlessPass - Pass_List</title>
{% endblock %}

{% block content_header %}
{% include "base_folder-pass.html" %}
{% endblock %}

{% block content %}
<div class="main-pass-list"> <!-- div to hold all password objects -->
    <h2>PainlessPass Pass_List</h2>

    <!-- Check if the user has any passwords - prompt for creation if they don't -->
    {% if userpass_list.count == 0 %}
        <p>You have no passwords</p>
        <a href="/painlesspass/pass_new/">Create one?</a>

    {% else %}
    <!-- Make a table with all passwords! -->

    <!-- The div to hold the table that contains all user passwords. Hopefully can use JS to sort this later. -->
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-light">
                <!-- Table column header -->
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Username</th>
                    <th scope="col">Password</th>
                    <th scope="col">URI</th>
                    <th scope="col">Folder</th>
                    <th scope="col">Note</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>

            <!-- Add passwords to the table -->
            {% for userpass in userpass_list %}
            <tbody>
                <td><a href="/painlesspass/pass_entry/{{ userpass.pk }}">{{ userpass.name }}</a></td>
                <td>{{ userpass.username }}</td>
                <td>{{ userpass.password }}</td>
                <td>{{ userpass.uri }}</td>
                <td>{{ userpass.folder }}</td>
                <td>{{ userpass.note }}</td>
                <td>Action Placeholder</td>
            </tbody>
            {% endfor %}
        </table>
    </div>

{% endif %}
</div>
{% endblock %}