{% extends "base_generic.html" %}

{% block title %}
    <title>PainlessPass - Pass_Entry</title>
{% endblock %}

{% block content_header %}
{% include "base_folder-pass.html" %}
{% endblock %}

{% block content %}
    <h2>Enter New Password</h2>
    <a class="body-back-button" href="/painlesspass/pass_list">Back</a>
    <form method="POST" class="content-form">
        {% csrf_token %}
        {{ password_form.as_p }}
        <!-- TODO: Make pretty field by iterating and coupling with bootstrap -->
        {% comment %}
        {% for field in password_form %}
        {{ field.name }}
        {% endfor %}
        {% endcomment %}
        <button type="submit" class="form-button">Create</button>
    </form>
{% endblock %}