{% extends "base_generic.html" %}

{% block title %}
    <title>PainlessPass - Register</title>
{% endblock %}

{% block content %}
    <!-- Register Form -->
    <div class="d-flex justify-content-center align-items-center max-height">
        <div class="border border-4 rounded-3 border-secondary p-3">
            <div id="register-header" class="text-center">
                <h2>Create an Account</h2>
            </div>
        <div class="align-items-start">
            <form method="POST" class="content-form">
                {% csrf_token %}
                {{ register_form.as_p }}
                <button type="submit" class="form-button">Register</button>
            </form>
        </div>
        <p id="account-redirect">Already have an account? <a href="/painlesspass/login">Sign in here.</a></p>
        </div>
    </div>
{% endblock %}