<div class="user-list-nav">
    <div class="sub-user-list-nav">
        <button>Passwords<i class="bi-caret-down"></i></button>
        <div class="sub-user-list-nav-options">
            <a href="/painlesspass/pass_list">Password List</a>
            <a href="/painlesspass/pass_new">Create Password</a>
        </div>
    </div>
    <div class="sub-user-list-nav">
        <button>Folders<i class="bi-caret-down"></i></button>
        <div class="sub-user-list-nav-options">
            <a href="/painlesspass/folder_list">Folder List</a>
            <a href="/painlesspass/folder_new">Create Folder</a>
        </div>
    </div>
</div>