<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>PainlessPass</title>
    {% endblock %}
</head>
<body>
    {% block header %}
    <header>
    <a href="/painlesspass/pass_list">Passwords</a>
    <a href="/painlesspass/settings">Settings</a>
    <!-- Log Out Button -->
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Log Out</button>
    </form>
    </header>
    {% endblock %}
    {% block content %}
        <!-- content stuff goes here in each extension -->
    {% endblock %}
    {% block footer %}
    <footer>
        <p>Footer</p>
    </footer>
    {% endblock %}
</body>
</html>